<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns:bean="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <global-method-security pre-post-annotations="enabled"  /> 
    
    <bean:bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<bean:property name="location">
			<bean:value>classpath:application.properties</bean:value>
		</bean:property>
	</bean:bean>
    
    <http pattern="/api/registro/registroAdministrador" security="none"/>  
    <http pattern="/api/auth/login" security="none"/>
    <http pattern="/api/registro/valid/email" security="none"/> 
    <http pattern="/" security="none"/>
    

    <http pattern="/api/**" entry-point-ref="restAuthenticationEntryPoint" create-session="stateless" use-expressions="true">
        <csrf disabled="true"/> 
        <custom-filter ref="CORSFilter" after="PRE_AUTH_FILTER"/>        
        <custom-filter before="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter"/> 
    </http>
    
    <bean:bean id="CORSFilter" class="com.pagp.medicalweb.web.core.CORSFilter"></bean:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="jwtAuthenticationProvider" /> 
    </authentication-manager>
    
</bean:beans>